/*Background Image & Body Font*/
html {
    width: auto;
    overflow-x: hidden;
    /*Footer*/
    position: relative;
    min-height: 100%;
}

body {
    width: auto;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    color: #BFBFBF;
    width: auto;
    overflow-x: hidden;
    background-color: #aaaaaa;
    
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

/*Navbar*/
.navbar-default {
    background-color: #242424;
    border-color: #323232;
    color: #BFBFBF;
}

/*Fix Sign In Button on Mobile*/
.navbar-right {
    padding-left: 10px
}

/*Hover over text color*/
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #FFFFFF;  
}

/*Text Color*/
.navbar-default .navbar-nav > li > a {
    color: #BFBFBF; 
}

/*Navbar Brand Color on Hover*/
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #FFFFFF;
}

/*Navbar Brand Color*/
.navbar-default .navbar-brand {
    color: #BFBFBF;
}

/*Center Navbar Items*/
.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

/*Logo Image*/
#logo {
    overflow-x: hidden;
    padding: 10px;	
}
.product .img-responsive {
    margin: 0 auto;
}

/*Content*/
#content {
    text-align: center;
}

.well {
    background-color: #242424;
    border-color: #323232;
    color: #BFBFBF;
}

/*Footer*/
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #242424;
    border-color: #323232;
    color: #BFBFBF;
}